%h1 About

The FixNix Governance, Risk and Compliance system is an&nbsp;
%span<>
  -#=link_to "open-source project", "http://www.fixrnix.in/"
  =link_to "open-source project", "http://www.fixrnix.in/"
\.
